.ItemListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ItemListContainer__header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    color: #1bbc9b;
}

.ItemListContainer__title {
    font-weight: lighter;
    
}

.ItemListContainer__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}