.NavBar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1bbc9b;
}

.NavBar__img {
    width: 250px;
    object-fit: cover;
    display: flex;
}

.NavBar__title {
    color: white;
    font-weight: bold;
}

a{
    padding: 0px 0px;
    text-decoration: none;
    color: white;
}


