.NavBar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1bbc9b;
}

.NavBar__img {
    width: 15%;
}

.NavBar__title {
    color: white;
    font-weight: bold;
}

a{
    padding: 10px;
    text-decoration: none;
    color: white;
}


