.NavBar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1bbc9b; 
    padding: 0px 30px 0px 0px;
}

.NavBar__img {
    width: 250px;
    object-fit: cover;
    display: flex;
}

.NavBar__carrito {
    width: 100px;
}

a{
    padding: 0px 0px;
    text-decoration: none;
    color: white;
}


